.header{
    height: 100px;
    background-color:mediumturquoise;
    box-shadow: 5px 5px 5px darkseagreen;
   
}
body{
    margin: 0px;
}
.content{
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}
.header img{
    vertical-align: middle;
}
.header h1{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
}
.content1{
    float: right;
    height: 70px;
    padding: 40px;
}
.acvity{
    border-bottom: 3px solid red;
}
.acvity1{
    margin-left: 5px;
    display: inline-block;
}
.source1{
    margin-left: 300px;
}
.main p{
    margin-top: 20px;
}
.main h2{
    margin-top: 50px;
    color: blue;
    text-transform: uppercase;

}
.distance{
    margin-left: 290px;
}
.source-card{
    display: inline-block;
    width: 250px;
    margin-left: 20px;
    
}
.card{
    background-image: url("../abc (1).png"); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.card1{
    border: 1px solid red;
    padding: 15px;
}
.title{
    margin-left: 300px;
}
.teachers{
    max-height: 500px;
    overflow-y: auto;
}
 .image-background {
    width: 200px;
    height: 150px;
    background-image: url('../my_tam.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    float: left;
}
 .teacher-info {
    width: 200px;
    height: 150px;
    border: 1px solid red;
    float: left;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.teacher {
    height: 144px;
    margin-bottom: 15px;
    position: relative;
}
 .course-number {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: black;
    opacity: 0.6;
    color: white;
    padding: 5px 10px;
}
.name{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 15px;

}
.job-title{
    font-size: 13px;
    font-style: italic;
    margin-left: 15px;
    font-weight: lighter;
    margin-bottom: 10px;
}
.birthday{
    font-size: 13px;
    font-style: italic;
    margin-left: 15px;
    font-weight: lighter;
    
}
.footer{
    margin-top: 50px;
    height: 150px;
    width: auto;
    background-color:mediumturquoise;
    box-shadow: 5px 5px 5px darkseagreen;
}
.address{
    width: 50%;
    float: left;
}
.links{
    width: 50%;
    float: left;
}
