*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box; 
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.rounded {
    border-radius: 50%;
}

.header{
    height: 75px;
    background-color:mediumturquoise;
}
.content{
    max-width: 1000px;
    margin: auto;
}
.header img{
    vertical-align: middle;
}
.header h1{
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    color: white;
}
.nav{
    float: right;
    height: 70px;
    padding: 30px 0;

}
.acvity{
    border-bottom: 3px solid white;
    color: white;
}
.acvity1{
    margin-left: 10px;
    color: white;
}
.content1{
    position: relative;
}
.background{
    background-image: url(banner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    filter: brightness(50%);
}
.course-name{
    position: absolute;
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    font-weight: bold;
    left: 50%;
    top: 200px;
    transform: translate(-50%,-50%);
}

.course-name1{
    position: absolute;
    color: white;
    font-size: 30px;
    font-weight: inherit;
    left: 50%;
    top: 250px;
    transform: translate(-50%,-50%);
    background-color: aqua;
}
.course-name1:hover{
    background-color: khaki;
}
.Title{
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
}
.main-intro{
    text-align: center;

}


.Title1{
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: black;
    padding-top: 50px;
    padding-bottom: 25px;
    
}

.cards{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}
.source-card{
    position: relative;
}


.source-image{
    background-image: url(abc.png); 
    background-position: center;
    
    height: 144px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-size: cover;
    background-repeat: no-repeat;
}
.source-content{
    border: 1px solid red;
    padding: 30px;
    transition: 1s all;
    background-color: antiquewhite;
}
.source-content:hover{
    box-shadow: 3px 3px 4px black;
}
h2{
    text-align: center;
    margin-top: 50px;
}
.image-background {
    width: 250px;
    height: 160px;
    background-image: url(my-tam-teacher.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    float: left;
    transition: 1s all;
}
.image-background:hover{
    transform: scale(1.5,1.5);
    transform-origin: center;
    
}
.effect{
    width: 250px;
    height: 160px;
    overflow: hidden;
}
.teacher-info {
    width: 250px;
    height: 160px;
    border: 1px solid red;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    float: left;
    transition: 1s all;

}
.teacher-info:hover{
    box-shadow: 3px 3px 4px black;
}

.teacher {
    height: 160px;
    margin-bottom: 15px;
    position: relative;
    display: inline-flex;
    margin-left: 10px;
}

.course-number {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: black;
    opacity: 0.6;
    color: white;
    padding: 5px 10px;
}
.name{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 15px;

}
.job-title{
    font-size: 13px;
    font-style: italic;
    margin-left: 15px;
    font-weight: lighter;
    margin-bottom: 10px;
}
.birthday{
    font-size: 13px;
    font-style: italic;
    margin-left: 15px;
    font-weight: lighter;
    
}
.contact-container{
    display: flex;
}
.contact-img{
    background-image: url(abc.png);
    height: 400px;
    width: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;

}
.contact-container .contact-form {
    width: 50%;
    height: 400px;
    padding: 20px 20px 20px 50px;
    border: 1px solid #cacaca;
    border-left: none;
}
.contact-container .contact-form  .form-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.contact-container .contact-form  .form-item label {
    width: 150px;
}

input{
    width: 90%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}


label{
    margin-left: 40px;
}
  

.register-now{
    background-color: aqua;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 18px;
    padding: 10px 25px;
    text-transform: uppercase;
    transition: background-color 0.5s;
    float: right;
    margin-top: 10px;
}
.register-now:hover{
    background-color: yellow;
}
footer{

    height: 150px;
    width: auto;
    background-color:mediumturquoise;
    box-shadow: 5px 5px 5px darkseagreen;
    padding: 30px 0;

}
.address{
    width: 50%;
    float: left;
}
.links{
    width: 50%;
    float: left;
    color: aliceblue;
}
.flash-sale-container{
    background-color: red;
    display: flex;
    justify-content: space-between;
    border-radius: 7px;
    padding: 15px;
    margin-top: 50px;
    
}
.flash-sale-container h1 {
    color: white;
    text-transform: uppercase;
    font-size: 20px;
}
.flash-sale-container .countdown-item {
    display: inline-block;
    padding: 5px 7px;
    background-color: white;
    margin-right: 5px;
}
.buy-source-card{
    background-color: yellow;
    position: absolute;
    top: 10px;
    left: 10px;
    border: none;
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
    
}
.purchase-item {
    width: 300px;
    padding: 15px;
    background-color: #1dc1ff;
    border-radius: 7px;
    position: fixed;
    bottom: -200px;
    opacity: 0;
    transition: all 1s;
}

.purchase-item p {
    font-style: italic;
    margin-top: 10px;
}

.brought-number-info {
    position: fixed;
    bottom: 200px;
    right: 50px;
    background-color: red;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
    flex-direction: column;
}

#bought-number {
    margin-top: 7px;
    font-size: 20px;
}
.main-content{
    padding: 15px;
}